{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Flask App</h1>
    <form action="/submit" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
